.error1 {
  color: red;
}

.theme-blue button {
  background-color: blue;
  color: white;
}
.counter-container1 {
  border: 1px solid green;
  padding: 5px;
  margin: 10px;
}

.counter-title1 {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 10px;
  font-family: monospace;
}
